<% if logged_in? %>
  <% if micropost.like_user(current_user.id) %>
    <%= button_to micropost_like_path(@likes, micropost_id: micropost.id), method: :delete, id: "like-button#{micropost.id}", remote: true do %> 
      <%= image_tag("icon_red_heart.png") %>
      <span>
        <%= micropost.likes_count %>
      </span>
    <% end %>
  <% else %>
    <%= button_to micropost_likes_path(micropost_id: micropost.id),id: "like-button#{micropost.id}", remote: true do %>  
      <%= image_tag("icon_heart.png") %>
      <span>
        <%= micropost.likes_count %>
      </span>
    <% end %>
  <% end %>
<% else %>
  <!--<%= image_tag("icon_heart.png") %>-->
  <!--  <span>-->
  <!--    <%= micropost.likes_count %>-->
  <!--  </span>-->
<% end %>
